# === Flutter / Dart ===
.dart
/dart
.dart_tool/                   # кэш публтулов, сборка
.flutter-plugins              # список плагинов
.flutter-plugins-dependencies # зависимости плагинов
.packages                     # пакеты
/ios/Flutter/Generated.xcconfig  # сгенерированные настройки
/build/                       # выходные артефакты сборки

# lock-файл для приложений держим в репозитории:
# pubspec.lock

# === Android ===
/android
/build
**/android/local.properties   # путь до SDK, пароль keystore и т.п.
/android/.gradle/             # кэш Gradle
/android/app/*.keystore       # если есть приватные keystore-файлы
**/android/app/build/         # нативные артефакты Android

# === iOS ===
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/                     # CocoaPods
/ios/Runner.xcworkspace/       # Xcode workspace
/ios/.symlinks/                # символические ссылки
/ios/build/                    # артефакты сборки

# === IDE ===
# VS Code
.vscode/
/*.code-workspace

# Android Studio / IntelliJ
.idea/
/*.iml
/*.ipr
/*.iws

# === Системные файлы ===
*.log
*.tmp
*.swp
.DS_Store       # macOS
Thumbs.db       # Windows
